/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&family=Nanum+Pen+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
	--font-normal: "Inter", sans-serif;
	--font-text: "Nanum Pen Script", cursive;
	--font-mono: "Space Mono", monospace;
	--max-width: 768px;
	--green: rgb(206, 255, 26);
	--pink: rgb(242, 163, 216);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
main {
	padding: 0 16px;
	max-width: 768px;
	margin: 0 auto;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
.bapak-svg {
	text-align: center;
	margin-top: -50px;
}
.arrow-down svg {
	rotate: 75deg;
}
@media only screen and (min-width: 600px) {
	.bapak-svg {
		text-align: center;
		margin-top: -100px;
	}
	.arrow-down svg {
		rotate: 50deg;
	}
}
