---
const today = new Date();
---

<footer>
	<h2>Bapak Dev.</h2>
	<p>
		I am a father with over 10 years of experience as a web developer, specializing in WordPress, Next.js, Astro, and Tailwind CSS. Since 2015, I have been
		successfully working remotely, embracing the flexibility and freedom it offers.
	</p>
</footer>
<style>
	footer {
		font-family: var(--font-mono);
		margin-top: 32px;
		font-size: 0.8rem;
		background: var(--green);
		padding: 32px 16px 64px;
		text-align: center;
		border-top: 3px solid #000;
		color: #000;
	}
	h2 {
		font-size: 2rem;
	}
	p {
		max-width: var(--max-width);
		margin: 0 auto;
	}
	svg {
		margin-top: -50px;
	}
</style>
