---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Bapak Dev. All rights reserved.
	<div>
		<svg
			class="w-10 h-10"
			width="120"
			viewBox="0 0 324 317"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M59.5068 136.983L322.202 162.818"
				stroke="currentColor"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
			<path
				d="M59.5068 136.983L322.202 162.818"
				stroke="currentColor"
				stroke-opacity="0.2"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
			<path
				d="M1 153.981L263.696 179.816"
				stroke="currentColor"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
			<path
				d="M1 153.981L263.696 179.816"
				stroke="currentColor"
				stroke-opacity="0.2"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
		</svg>
	</div>
</footer>
<style>
	footer {
		margin-top: 32px;
		font-size: 0.8rem;
	}
	svg {
		margin-top: -50px;
	}
</style>
